doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    //- header
    //-   nav
    //-     ul
    //-       li
    //-         p item 1
    //-       li
    //-         p item 2
    //-       li
    //-         p item 3
    block content


    script(src='http://localhost:3000/livereload.js')
