extends casestudy_layout

block content
  header.centered-navigation
    .centered-navigation-wrapper
      a.mobile-logo(href='javascript:void(0)')
        img(src='/images/gp_temp_logo.png', alt='')
      //- a.centered-navigation-menu-button(href='') MENU
      ul.centered-navigation-menu
        //- li.nav-link
        //-   a(href='javascript:void(0)') Projects
        //- li.nav-link
        //-   a(href='javascript:void(0)') About
        //- li.nav-link
        //-   a(href='javascript:void(0)') Contact
        li.logo
          a.logo(href='javascript:void(0)')
            img(src='/images/gp_temp_logo.png', alt='')
        //- li.nav-link
        //-   a(href='javascript:void(0)') Testimonials
        //- li.nav-link.more
        //-   a(href='javascript:void(0)') More
        //-   ul.submenu
        //-     li
        //-       a(href='javascript:void(0)') Submenu Item
        //-     li
        //-       a(href='javascript:void(0)') Another Item
        //-     li.more
        //-       a(href='javascript:void(0)') Item with submenu
        //-       ul.submenu
        //-         li
        //-           a(href='javascript:void(0)') Sub-submenu Item
        //-         li
        //-           a(href='javascript:void(0)') Another Item
        //-     li.more
        //-       a(href='javascript:void(0)') Another submenu
        //-       ul.submenu
        //-         li
        //-           a(href='javascript:void(0)') Sub-submenu
        //-         li
        //-           a(href='javascript:void(0)') An Item
        //- li
        //-   a(href='javascript:void(0)') Sign up

  div.hero
    div.hero-inner
      div.hero-copy
        h1 Given resource constraints, where can UP Global find an individual to improve and deliver a more cohesive user experience for their evolving brands?
        ul
          li.block
            h5 Date
            p 9/9/2014
          li.block
            h5 Client
            p UP GLOBAL
          li.block
            h5 Solution
            p one unicorn

  //- section.block1
  //-   div.problem
  //-     h1 01. The Problem
  //-     h2 Given resource constraints, where can UP Global find an individual to improve and deliver a more cohesive user experience for their evolving brands?

  .grid-items-lines
    a.grid-item(href='javascript:void(0)').image1
        //- img(src='/images/gp_temp_logo.png', alt='')
        h1 Conceptualize
        //- p Lorem ipsum dolor sit amet, elit. Rem, illum.
    a.grid-item(href='javascript:void(0)').image2
      //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png', alt='')
      h1 Iterate
    a.grid-item(href='javascript:void(0)').image3
      //- img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png', alt='')
      h1 Develop


  section.row1
    article.block1
      div.outcome
        h1 Intended Outcome
        h3 By identifying internal opportunities, UP Global spends minimal time and money finding the right individual who can deliver in the right areas.
        ul.block
          li.block
            p Intimate understanding of UP Global’s intricate system of brands and programs
          li.block
            p Applied UX skills (Information Architecture, User Research, Visual Design, etc)
          li.block
            p Collaborative spirit that can speak to design and development concepts

  section.row2
    article.block2
      div.outcome
        h1 Solution Fit
        h3 This individual collaborates with both the design and tech teams to deliver a cohesive experience from conception to implementation.
        ul.block
          li.block2
            p An intimate understanding of UP Global’s intricate system <br/>
              | of brands and programs
          li.block2
            p Applied UX skills (Information Architecture, User Research, <br/>
              | Visual Design, etc)

  section.row3
    article.block3
      div.outcome
        h1 Iterative Development
        h3 Identify Gabe as the best internal candidate with competencies in UX, visual design, and basic programming concepts to attend Code Fellows.
        ul.block
          li.block4
            h4 CF Foundations I:
            p Computer Science and Web Dev (4 weeks on top of FT work schedule)
          li.block4
            h4 CF Foundations II:
            p UX Stack (4 weeks on top of FT work schedule)
          li.block4
            h4 CF Front-End UX Design & Development Accelerator
            p (8 weeks on top of PT work schedule)


  section.row1
    article.block1
      div.outcome
        h1 The Results
        table.table-borders
          thead
            tr
              th Skill / Trait
              th Before CF
              th After CF
          tbody
            tr
              td Passion for web & technology
              td ✓
              td ✓
            tr
              td Passion for creating great UX
              td ✓
              td ✓
            tr
              td Best practice for creating / exporting web assets
              td ✓
              td ✓
            tr
              td QA testing across different devices
              td ✓
              td ✓
            tr
              td UI concept design
              td ✓
              td ✓
            tr
              td Collaborate with developers and designers
              td ✓
              td ✓
            tr
              td Project requirement gathering and planning
              td ✓
              td ✓
            tr
              td Content strategy
              td ✓
              td ✓
            tr
              td Static wireframing
              td ✓
              td ✓
            tr
              td Comp design
              td ✓
              td ✓
            tr
              td Design aesthetic and composition
              td ✓
              td ✓
            tr
              td Wordpress installation and customization
              td ✓
              td ✓
            tr
              td FTP
              td ✓
              td ✓
            tr
              td Adobe Suite (ID, PS, IL, AE, Pr, etc)
              td ✓
              td ✓
            tr
              td Website deployment (hosting, dns, ftp)
              td ✓
              td ✓
            tr
              td HTML 5 & platform features (Advanced)
              td --
              td ✓
            tr
              td CSS3 (Advanced)
              td --
              td ✓
            tr
              td SASS (Advance)
              td --
              td ✓
            tr
              td Javascript (Novice)
              td --
              td ✓
            tr
              td Node.js (Novice)
              td --
              td ✓
            tr
              td Preprocessor languages (Jade & Haml )
              td --
              td ✓
            tr
              td Terminal (CLI)
              td --
              td ✓
            tr
              td Git & Github
              td --
              td ✓
            tr
              td Semantic HTML markup & architecture
              td --
              td ✓
            tr
              td Style tiles
              td --
              td ✓
            tr
              td User Flows (using Graphviz)
              td --
              td ✓
            tr
              td Rapid prototyping
              td --
              td ✓
            tr
              td Wireframe and info architecture
              td --
              td ✓
            tr
              td Living style guides
              td --
              td ✓
            tr
              td UX Research / validatoin methods (polling, guerrilla user testing, affinity diagraming, etc)
              td --
              td ✓
            tr
              td CSS Layout grid systems and frameworks
              td --
              td ✓
            tr
              td Responsive Web Design
              td --
              td ✓
            tr
              td Progressive enhancement
              td --
              td ✓
            tr
              td CSS organization architecture frameworks - OOCSS & SMACCS
              td --
              td ✓
            tr
              td Package mangers (npm, bower, rvm)
              td --
              td ✓
            tr
              td Rails app integration
              td --
              td ✓
            tr
              td Building interactive HTML prototypes
              td --
              td ✓
            tr
              td Deployment via Heroku
              td --
              td ✓
  section.row2
    article.block2
      div.outcome
        h1 Example Works
        ul.block
          li.block
            a(href='http://skilowg.github.io/TodoApp/', target="_blank")
              h4 ToDo App
            p A simple todo app that allows for drag n' drop rearranging and style switching
          li.block
            a(href='http://ordr.herokuapp.com/', target="_blank")
              h4 Ordr
            p Makes the job application process simpler and easier to organize
          li.block
            a(href='http://refactors.herokuapp.com/', target="_blank")
              h4 Refactors
            p A community where developers can refactor and improve each others' code
    .browsers
      .browser
          .browser-top-bar
            .browser-circle
            .browser-circle
            .browser-circle
          .browser-content
        .browser
          .browser-top-bar
            .browser-circle
            .browser-circle
            .browser-circle
          .browser-content
        .browser
          .browser-top-bar
            .browser-circle
            .browser-circle
            .browser-circle
          .browser-content
      .cover



