extends casestudy_layout

block content
  section
    h1 The problem
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisl nisl. Vivamus quis dignissim magna, non vulputate lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sem tortor, fermentum vel pretium vel, iaculis ac odio. Suspendisse potenti.
  section
    h1 Intended Outcome
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisl nisl. Vivamus quis dignissim magna, non vulputate lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sem tortor, fermentum vel pretium vel, iaculis ac odio. Suspendisse potenti.
  section
    h1 System Fit
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisl nisl. Vivamus quis dignissim magna, non vulputate lorem.
   section
    h1 Iteration
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisl nisl. Vivamus quis dignissim magna, non vulputate lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sem tortor, fermentum vel pretium vel, iaculis ac odio. Suspendisse potenti.
  section
    h1 Implementation
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisl nisl. Vivamus quis dignissim magna, non vulputate lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sem tortor, fermentum vel pretium vel, iaculis ac odio. Suspendisse potenti.
  script(src='http://localhost:3000/livereload.js')
