@import "./sass/bourbon/bourbon";
@import "./sass/bitters/app/assets/stylesheets/base";
@import "./sass/neat/_grid-settings";
@import "./sass/neat/neat";
@import "./sass/modules/modules";


.problem {
  @extend .text;
  padding: 3em;
  margin: auto;
  text-align: left;
  color: black;
  @include outer-container;
    @include clearfix;
}

.outcome {
  @include span-columns(12);
  @extend .problem;
  text-align: center;
  padding: 0 3em 3em 3em;
  ul {
    text-align: left;
  }
  h1 {
    font-family: $test;
    font-weight: 400;
    font-size: 2.7em;
  }
  h3 {
    font-family: $test;
    font-weight: 200;
  }
}

.test {
  @include span-columns(3);
  @include omega();
  $mobile: new-breakpoint(max-width 500px 3);
  @include media($mobile) {
    @include row(table);
  }
  background: green;
  height: 30em;
}
