@import "./sass/bourbon/bourbon";
@import "./sass/bitters/app/assets/stylesheets/base";
@import "_grid-settings";
@import "./sass/neat/neat";
@import "./sass/modules/modules";

// body {
//   @include backface-visibility(visible);
// }

// .button {
//   @include button(shiny, #ff0000);
//   color: green;
// }

// section {
//   @include outer-container;
//   div {

//   }
// }

// $color: white;

// // body {
// //   background-color: $color;
// // }

// a {
//   background-color: red;
//   width: 6em;
//   text-decoration: none;
//   border-radius: .5em;
//   text-transform: uppercase;
//   color: white;
//   padding: .5em;
//   cursor: pointer;
//   -webkit-transition: background-color 200ms ease-in;
//     &:hover {
//       background-color: blue;
//       cursor: pointer;
//       -webkit-transition: background-color 200ms ease-out;
//   }
// }


.problem {
  @extend .text;
  padding: 3em;
  margin: auto;
  text-align: left;
  color: black;
  @include outer-container;
    @include clearfix;
}

.outcome {
  @include span-columns(12);
  @extend .problem;
  text-align: center;
  padding: 0 3em 3em 3em;
  ul {
    text-align: left;
  }
  h1 {
    font-family: $test;
    font-weight: 400;
    font-size: 2.7em;
  }
  h3 {
    font-family: $test;
    font-weight: 200;
  }
}

.test {
  @include span-columns(3);
  @include omega();
  $mobile: new-breakpoint(max-width 500px 3);
  @include media($mobile) {
    @include row(table);
  }
  background: green;
  height: 30em;
}
