@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500");
button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Roboto";
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 5.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Roboto";
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Roboto";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.centered-navigation {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-menu-button {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-menu-button {
        display: none; } }
    .centered-navigation .centered-navigation-menu-button:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper:before, .centered-navigation .centered-navigation-wrapper:after {
      content: " ";
      display: table; }
    .centered-navigation .centered-navigation-wrapper:after {
      clear: both; }
    .centered-navigation .centered-navigation-wrapper:before, .centered-navigation .centered-navigation-wrapper:after {
      content: " ";
      display: table; }
    .centered-navigation .centered-navigation-wrapper:after {
      clear: both; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li {
    background: #fff;
    display: block;
    line-height: 60px;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px; } }
    .centered-navigation ul li a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block; }
      .centered-navigation ul li a:hover {
        color: #333; }
  .centered-navigation li.logo {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -2em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link > ul > li:first-child a {
    padding-top: 1em; }
  .centered-navigation li.more.nav-link a {
    margin-right: 1em; }
  .centered-navigation li.more.nav-link > a {
    padding-right: 0.6em; }
  .centered-navigation li.more.nav-link > a:after {
    position: absolute;
    top: auto;
    right: -0.4em;
    bottom: auto;
    left: auto;
    color: rgba(51, 51, 51, 0.7);
    content: '\25BE'; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: '⟩';
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.1538461538px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #f7f7f7;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #fff;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.hero {
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em; }
  .hero .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em; }
  .hero .hero-inner {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
    padding: 3.5em;
    margin: auto;
    text-align: center;
    color: #3ccf80; }
    .hero .hero-inner:before, .hero .hero-inner:after {
      content: " ";
      display: table; }
    .hero .hero-inner:after {
      clear: both; }
    .hero .hero-inner:before, .hero .hero-inner:after {
      content: " ";
      display: table; }
    .hero .hero-inner:after {
      clear: both; }
    .hero .hero-inner button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e3e3e3));
      background-image: -webkit-linear-gradient(#ffffff, #e3e3e3);
      background-image: linear-gradient(#ffffff, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #dbdbdb));
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .hero .hero-inner button:active:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eee; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
        font-weight: 100; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 2.6em; } }
      @media screen and (max-width: 480px)  {
        .hero .hero-inner .hero-copy h1 {
          font-size: 1.8em;
          margin-bottom: 0.5em;
          font-weight: 100; } }
      .hero .hero-inner .hero-copy p {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        margin: auto;
        font-weight: 200;
        line-height: 1.5em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 0.8em;
            max-width: 40%; } }
      .hero .hero-inner .hero-copy ul {
        padding-top: 2em; }
        .hero .hero-inner .hero-copy ul li h5 {
          font-size: 1.2em;
          font-family: "Roboto";
          font-weight: 400; }
        .hero .hero-inner .hero-copy ul li p {
          font-family: "Roboto";
          font-weight: 300;
          font-size: 0.9em;
          margin-top: 0; }

ul.block {
  padding-top: 4em; }

li.block, li.block2, li.block3, li.block4, li.block3 {
  border: 2.8px solid #a7a49f;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 3em;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  li.block:last-child, li.block2:last-child, li.block3:last-child, li.block4:last-child, li.block3:last-child {
    margin-right: 0; }
  li.block:nth-child(3n), li.block2:nth-child(3n), li.block3:nth-child(3n), li.block4:nth-child(3n), li.block3:nth-child(3n) {
    margin-right: 0; }
  li.block:nth-child(3n+1), li.block2:nth-child(3n+1), li.block3:nth-child(3n+1), li.block4:nth-child(3n+1), li.block3:nth-child(3n+1) {
    clear: left; }
  @media screen and (max-width: 480px)  {
    li.block {
      float: left;
      display: block;
      margin-right: 10.1483979942%;
      width: 100%; }
      li.block:last-child, li.block2:last-child, li.block3:last-child, li.block4:last-child, li.block3:last-child {
        margin-right: 0; }
      li.block h1, li.block li.block2, li.block li.block3, li.block li.block4, li.block li.block3 {
        font-size: 1.6em !important; }
      li.block h5, li.block li.block2, li.block li.block3, li.block li.block4, li.block li.block3 {
        font-size: 1.5em !important; }
      li.block p, li.block li.block2, li.block li.block3, li.block li.block4, li.block li.block3 {
        font-size: 1em !important; } }

li.block2, li.block3, li.block4, li.block3 {
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  li.block2:last-child, li.block3:last-child, li.block4:last-child, li.block3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px)  {
    li.block2 {
      float: left;
      display: block;
      margin-right: 10.1483979942%;
      width: 100%;
      margin-left: 0%; }
      li.block2:last-child, li.block3:last-child, li.block4:last-child, li.block3:last-child {
        margin-right: 0; }
      li.block2 h1, li.block2 li.block3, li.block2 li.block4, li.block2 li.block3 {
        font-size: 1.6em !important; }
      li.block2 h5, li.block2 li.block3, li.block2 li.block4, li.block2 li.block3 {
        font-size: 1.5em !important; }
      li.block2 p, li.block2 li.block3, li.block2 li.block4, li.block2 li.block3 {
        font-size: 1em !important; } }

li.block3 {
  border: 2.8px solid #ffffff;
  color: #ffffff;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  li.block3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px)  {
    li.block3 {
      float: left;
      display: block;
      margin-right: 10.1483979942%;
      width: 100%;
      margin-left: 0%; }
      li.block3:last-child {
        margin-right: 0; }
      li.block3 h1 {
        font-size: 1.6em !important; }
      li.block3 h5 {
        font-size: 1.5em !important; }
      li.block3 p {
        font-size: 1em !important; } }

li.block4 {
  border: 2.8px solid #ffffff;
  color: #ffffff;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  li.block4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px)  {
    li.block4 {
      float: left;
      display: block;
      margin-right: 10.1483979942%;
      width: 100%;
      margin-left: 0%; }
      li.block4:last-child {
        margin-right: 0; }
      li.block4 h1 {
        font-size: 1.6em !important; }
      li.block4 h5 {
        font-size: 1.5em !important; }
      li.block4 p {
        font-size: 1em !important; } }

.row1 {
  background: #f1ede2;
  padding: 5em 0em; }

.row2 {
  background: #ffffff;
  padding: 5em 0em; }

.row3 {
  background: #2bcad0;
  padding: 5em 0em; }

.block1, .block2, .block3 {
  background: #f1ede2;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .block1:before, .block2:before, .block3:before, .block1:after, .block2:after, .block3:after {
    content: " ";
    display: table; }
  .block1:after, .block2:after, .block3:after {
    clear: both; }
  .block1 h1, .block1 .block2, .block1 .block3 {
    font-size: 2.6em;
    margin-bottom: 0.5em; }
  .block1 h2, .block1 .block2, .block1 .block3 {
    font-size: 1.6em; }
  .block1 ul, .block1 .block2, .block1 .block3 {
    list-style: disc inside none; }
    .block1 ul li, .block1 ul .block2, .block1 ul .block3 {
      color: #545454;
      position: relative; }

.block2, .block3 {
  background: #ffffff; }

.block3 {
  background: #2bcad0; }

.grid-items-lines {
  *zoom: 1;
  position: relative; }
  .grid-items-lines:before, .grid-items-lines:after {
    content: " ";
    display: table; }
  .grid-items-lines:after {
    clear: both; }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 20em;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    text-align: center;
    cursor: default !important;
    cursor: pointer; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.3333333333%; } }
    .grid-items-lines .grid-item:hover {
      opacity: 0.8; }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: 0.2;
    margin-left: auto;
    margin-right: auto; }
  .grid-items-lines .grid-item h1 {
    color: #fff;
    font-size: 1.3em;
    margin: 1em 0em;
    font-size: 2.5em;
    font-weight: 300;
    background: rgba(51, 60, 78, 0.6);
    line-height: 1.5em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6); }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.6666666667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px; }
  .grid-items-lines .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px; }

.image1, .image2, .image3 {
  background-image: url('/images/wireframe.png');
  background-size: cover;
  z-index: 0; }

.image2 {
  background-image: url('/images/styletile.png'); }

.image3 {
  background-image: url('/images/develop.png'); }

.table-borders {
  border: 1px solid #DDD;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.1875em; }
  .table-borders tbody {
    background-color: #f7f7f7; }
    .table-borders tbody tr:hover > td, .table-borders tbody tr:hover > th {
      background-color: #eaeaea; }
    .table-borders tbody tr:nth-child(even) {
      background-color: #ececec; }
      .table-borders tbody tr:nth-child(even):hover > td {
        background-color: #e0e0e0; }
  .table-borders thead:first-of-type tr:first-child > th:first-child {
    border-top-left-radius: 0.1875em; }
  .table-borders thead:first-of-type tr:first-child > th:last-child {
    border-top-right-radius: 0.1875em; }
  .table-borders tbody:last-child tr:last-child > td:first-child {
    border-bottom-left-radius: 0.1875em; }
  .table-borders tbody:last-child tr:last-child > td:last-child {
    border-bottom-right-radius: 0.1875em; }
  .table-borders thead th {
    background-color: #2bcad0;
    padding: 0.5em;
    border-left: 1px solid #DDD;
    border-bottom: 0px;
    text-align: center;
    color: #fff; }
  .table-borders tbody {
    background-color: #f7f7f7; }
    .table-borders tbody td {
      padding: 0.5em;
      border-left: 1px solid #DDD;
      border-top: 1px solid #DDD;
      border-bottom: 0px; }
      .table-borders tbody td button {
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 white;
        color: #333333;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        background-color: #f7f7f7;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #dadada));
        background-image: -webkit-linear-gradient(#f7f7f7, #dadada);
        background-image: linear-gradient(#f7f7f7, #dadada);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        background-clip: padding-box;
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: 0.3em;
        outline: none; }
        .table-borders tbody td button:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 white;
          cursor: pointer;
          background-color: #eaeaea;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d3d3d3));
          background-image: -webkit-linear-gradient(#eaeaea, #d3d3d3);
          background-image: linear-gradient(#eaeaea, #d3d3d3); }
        .table-borders tbody td button:active:not(:disabled) {
          border: 1px solid #d3d3d3;
          box-shadow: inset 0 0 8px 4px #cbcbcb, inset 0 0 8px 4px #cbcbcb, 0 1px 1px 0 #eee; }
        .table-borders tbody td button:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        @media screen and (min-width: 40em) {
          .table-borders tbody td button {
            width: auto;
            margin-bottom: 0; } }

.browsers {
  display: inline-block;
  padding-top: 0;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .browsers {
      padding-top: 2em; } }

.browser-top-bar {
  background-color: #ececec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#ececec, #e7e7e7);
  background-image: linear-gradient(#ececec, #e7e7e7);
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
  border: 0px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  height: 1.5em;
  width: 100%; }

.browser-circle {
  border-radius: 1em;
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.5em 0; }

.browser-circle:nth-child(1) {
  background: #FF6F55;
  margin-left: 0.5em; }

.browser-circle:nth-child(2) {
  background: #F5B01D;
  margin-left: 0.1666666667em; }

.browser-circle:nth-child(3) {
  background: #51B151;
  margin-left: 0.1666666667em; }

.browser {
  border-bottom: none;
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  text-align: left;
  width: 20%; }

.browser:nth-child(1) {
  background-color: #F0F0F0;
  display: none; }
  @media screen and (min-width: 53.75em) {
    .browser:nth-child(1) {
      display: inline-block; } }
  .browser:nth-child(1) .browser-content {
    background: url(/images/todoapp.png);
    background-color: #F0F0F0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }

.browser:nth-child(2) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background-color: white;
  width: 90%; }
  @media screen and (min-width: 53.75em) {
    .browser:nth-child(2) {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      width: 40%; } }
  .browser:nth-child(2) .browser-content {
    background: url(/images/ordrapp.png);
    background-color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }

.browser:nth-child(3) {
  background-color: #F0F0F0;
  display: none; }
  @media screen and (min-width: 53.75em) {
    .browser:nth-child(3) {
      display: inline-block; } }
  .browser:nth-child(3) .browser-content {
    background: url(/images/refactorapp.png);
    background-color: #F0F0F0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }

.browser-content {
  border-left: 0px;
  border-right: 0px;
  height: 17em;
  overflow: hidden; }
  @media screen and (min-width: 53.75em) {
    .browser-content {
      height: 18em; } }

.cover {
  background: white;
  border-top: 1px solid #E6E6E6;
  height: 3.2em;
  margin-top: -1em;
  position: relative;
  width: 100%;
  z-index: 999; }

.problem, .outcome {
  padding: 3em;
  margin: auto;
  text-align: left;
  color: black;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1; }
  .problem:before, .outcome:before, .problem:after, .outcome:after {
    content: " ";
    display: table; }
  .problem:after, .outcome:after {
    clear: both; }
  .problem:before, .outcome:before, .problem:after, .outcome:after {
    content: " ";
    display: table; }
  .problem:after, .outcome:after {
    clear: both; }

.outcome {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  text-align: center;
  padding: 0 3em 3em 3em; }
  .outcome:last-child {
    margin-right: 0; }
  .outcome ul {
    text-align: left; }
  .outcome h1 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 2.7em; }
  .outcome h3 {
    font-family: "Roboto";
    font-weight: 200; }

.test {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  margin-right: 0;
  background: green;
  height: 30em; }
  .test:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px)  {
    .test {
      *zoom: 1;
      display: table;
      width: 100%;
      table-layout: fixed; }
      .test:before, .test:after {
        content: " ";
        display: table; }
      .test:after {
        clear: both; } }
