body {
  background-color: white; }

section {
  width: 70%;
}

a {
  background-color: red;
  width: 6em;
  text-decoration: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in; }
  a:hover {
    background-color: blue;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease-out; }
