$color: green;

body {
  background-color: $color;
}

a {
  background-color: red;
  width: 6em;
  text-decoration: none;
  border-radius: .5em;
  text-transform: uppercase;
  color: white;
  padding: .5em;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in;
    &:hover {
      background-color: blue;
      cursor: pointer;
      -webkit-transition: background-color 200ms ease-out;
  }
}
